body {
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwallpaperaccess.com%2Fpokedex&psig=AOvVaw1GaiBy07lQehCwpjf3-yFV&ust=1634322593668000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCMit3KHEyvMCFQAAAAAdAAAAABAD");
}

.fas {
    font-size: 40px;
    color: orange;
}